@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe7d3;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.interface {
  padding: 10px 5%;
}

.btn-default {
  background-color: #fafafa;
  padding: 5px 12px;
  border-radius: 40px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in;
  font-weight: 500;
  color: #3d3d3d;
}

.btn-default:hover {
  background-color: #3d3d3d;
  color: #f37c0c;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f37c0c;
  border-bottom: solid 2px #3d3d3d;
}

.logo {
  width: 100px;
}
.logo img {
  width: 100%;
}

#search {
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  width: 400px;
}
#search i {
  color: #3d3d3d;
  font-size: 1.25rem;
  cursor: pointer;
}

#btnSearch {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

#navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}

#nav_list {
  display: flex;
  gap: 30px;
  list-style: none;
}
#nav_list li {
  transition: 0.3s ease;
}
#nav_list li:hover {
  scale: 1.1;
}

#nada {
  display: none;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images-content {
  width: 32%;
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 25px;
}
.images-content img {
  width: 110%;
}

.overlay {
  width: 94%;
  position: absolute;
  background-color: rgba(43, 42, 42, 0.836);
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 45px;
  align-items: center;
  font-size: 1.6rem;
  color: #ffe7d3;
  font-weight: 600;
  letter-spacing: 4px;
  transition: 0.3s ease-in;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #f37c0c;
  border-top: 2px solid #3d3d3d;
  color: #fff;
}
footer i {
  color: #000000;
}

#contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#local i {
  margin-left: 10px;
}

#email i {
  margin-left: 10px;
}

#telphone i {
  margin-left: 10px;
}

#social_midia {
  display: flex;
  gap: 20px;
}

#social_midia_responsivo {
  display: flex;
  gap: 20px;
  display: none;
}

.social-midia-btn {
  background-color: #fff;
  text-align: center;
  border-radius: 40px;
  width: 45px;
  height: 45px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.social-midia-btn:hover {
  background-color: #3d3d3d;
}

.social-midia-btn i {
  transition: 0.5s ease-in;
  font-size: 1.25rem;
  height: 100%;
  width: 100%;
  margin-top: 30%;
}

.social-midia-btn i:hover {
  color: #f37c0c;
}

@media screen and (max-width: 970px) {
  #navbar {
    display: none;
  }
  #nada {
    display: block;
  }
  .images-content {
    width: 40%;
  }
  .overlay {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 20px;
  }
  footer {
    flex-direction: row;
    justify-content: center;
    height: 300px;
  }
  footer .logo {
    display: none;
  }
  #contact {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 50%;
  }
  #social_midia {
    display: none;
  }
  #social_midia_responsivo {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    width: 50px;
  }
  #search {
    width: 50%;
  }
  #nada {
    display: none;
  }
  .images-content {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  #contact {
    width: 100%;
    align-items: center;
  }
  #social_midia_responsivo {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */